.App {
    font-family: sans-serif;
    /* text-align: center; */
  }
  
  body {
    padding-top: 4px;
  }
  
  h2 {
    text-align: center;
    color: purple;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  h3 {
    color: white;
  }
  
  li {
    color: grey;
    margin: 12px;
  }
  
  hr.new1 {
    border-top: 1px dashed grey;
  }
  
  .button-edits {
    margin: 40px;
  }
  
  .card-width {
    color: white;
    padding: 20px;
    margin: 40px;
  }

  .post-header {
    display: flex;
  }

   .postdiv {
    flex: 1;
  }

  .post-header .divflex {
    flex-grow: 9;
  }
  .post-header .divflex2 {
    flex-grow: 2;
  }
  
  .create-post {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .edit-button {
    position: absolute;
    top: 20px;
    right: 80px;
    color: cyan;
  }
  
  .delete-button {
    position: absolute;
    top: 20px;
    right: 50px;
    color: cyan;
  }

  .show-button {
    position: absolute;
    top: 20px;
    right: 12px;
    color: cyan;
  }
  
  .cancel-button {
    position: absolute;
    top: 585px;
    left: 100px;
  }
  
  .cancel-update-button {
    position: absolute;
    top: 585px;
    left: 160px;
  }

  .back-button {
    /* position: absolute; */
    /* top: 545px; */
    /* left: 160px; */
    margin: 0px 40px;
  }
  
  .button-css:active {
    transform: translateY(3px);
  }
  
  .button-css:focus {
    outline: 0;
  }